html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
    font-family: sans-serif;
    font-size: 10pt;

    // background: linear-gradient(135deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
}

body {
    display: flex;
    flex-direction: row;
}