book-content-page {
    /* Fill complete main area */
    flex: 1;
    align-self: stretch;

    /* Center content on screen */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 2em;

    .main-area {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-row {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
    }
}