application-frame {
    /* Fill screen (body flexbox) */
    flex: 1;

    /* Use flexbox to layout the top-most app content */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}
